<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Device ID</th>
      <th scope="col">Last Time Usage</th>
      <th scope="col">Token</th>
    </tr>
  </thead>
  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.device_id %></td>
        <td class="text-success"><%= device.time_ago %></td>
        <td><%= device.token %></td>
      </tr>
    </tbody>
  <% end %>
</table>
