<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %> </td>
        <td><%= user.name %></td>
        <td><%= user.mobile %></td>
        <td>
          <div>
            <%= button_to 'X', user_path(user), class: "btn-small btn-danger", method: :delete %>
          </div>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
